/* 
    * Author(s): Kiowa Alumno, Troy Peterson, Jo Lee White
    * Creation Date: 01/20/2019
    * Date Updated: 01/21/2019
    * Description: Stylesheet contains that the import information for all the Google Fonts to add 
    * fonts to the web pages. Edited list so that the webpages would open quicker.
*/

@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
@import url('https://fonts.googleapis.com/css?family=Almendra');
@import url('https://fonts.googleapis.com/css?family=Asset');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');
@import url('https://fonts.googleapis.com/css?family=Cousine');
@import url('https://fonts.googleapis.com/css?family=Coustard');
@import url('https://fonts.googleapis.com/css?family=Diplomata');
@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline');
@import url('https://fonts.googleapis.com/css?family=Meddon');
@import url('https://fonts.googleapis.com/css?family=Miniver');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Paprika');
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Revalia');
@import url('https://fonts.googleapis.com/css?family=Ribeye');
@import url('https://fonts.googleapis.com/css?family=Ribeye+Marrow');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Rye');
@import url('https://fonts.googleapis.com/css?family=Scope+One');
@import url('https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded');
@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Vast+Shadow');