/* 
    * Author(s): Kiowa Alumno, Troy Peterson, Jo Lee White
    * Creation Date: 01/16/2019
    * Date: 01/18/2019; 01/21/2019; 01/22/2019; 01/23/2019; 01/27/2019; 01/31/2019; 02/01/2019
    * Description: Stylesheet contains that the import information for all the Google Fonts to add 
    * fonts to the web pages.
*/

/* controls the scrolling animation for the page */
html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "";
   */
}

/* ====================END OF HTML SETTINGS========================== */

/* adds a Drop Letter to the first letter of each of the About Us Page paragraphs. */
#welcome::first-letter {
  float: left;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
  font-family: "Diplomata";
}

#title {
  /* font-family:"Scope One"; */
  font-family: "Nobile";
  text-align: center;
}

/* border to make the welcome seemed like at typed letter . . .  */
#border {
  border: 3px;
  border-style: solid;
  border-color: navy;
  padding: 1em;
}

/* ====================END OF BODY SETTINGS========================== */

.bg-image {
  background-image: url("/images/5816.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* ====================END OF BACKGROUND IMAGE SETTINGS========================== */


/*  Error Message Screen/Page Properties */
.err-image {
  background-image: url('/images/283331-P6EPD6-923.jpg');
  /* height: 465px;
  width: 333px; */

  width: 100%;
  height: 100%;
  size: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 50%;
  */
}

/* ====================END OF 404 MESSAGE SETTINGS========================== */

/*  Internal and External Link Set Up */
#a {
  color: gray;
  /* black; */
}

/* ====================END OF HTML LINK SETTINGS========================== */

/* NavBar styles -- Horizontal, Fixed and Sticky (stationary)*/
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

/* LIST THAT CONTAINS LINKS and Settings for the Navigation Bar */
#ulBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

#ulReg {
  list-style-type: circle;
  margin: 30px;
  padding: 15px;
  /* overflow: hidden; */
  /* background-color: navy; */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: grey;
}

/* ====================END OF Navigation Bar SETTINGS========================== */


/* styles for the product page */
.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(86, 61, 124, .2);
}

/* Product Section Image settings */
.gadget {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* CREATES A PRODUCT INFORMATION CARD */
.cardProduct {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* ====================END OF PRODUCT PAGE/SECTION SETTINGS========================== */

/* About Us Page Settings */
#photoID {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* float: left; */
}

/*  meet us */
.cardProfile

/* Left  */
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  /* max-height: 300px; */
  margin: auto;
  text-align: center;
  position: relative;
  /* position: fixed; */
  /* position: absolute; */
  /* position: initial; */
  /* overflow: hidden; */
}

button 
{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a 
{
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

/* contact us additional information test */
.overlay                                                     

/* Left  */
{
  /* position: sticky; */
  /* position: fixed; */
  position: absolute;
  /* position: relative; */
  bottom: 31%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  /* navy; */
  overflow: hidden;
  width: 0;
  height: 69%;
  transition: .5s ease;
}

.cardProfile:hover .overlay 
{
  width: 100%;
}

.text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* white-space: nowrap; */
}


/* stats */
#oval {
  width: 200px;
  height: 100px;
  background: navy;
  border-radius: 100px / 50px;
  color: #ddd;
}

.statID {
  width: 150px;
  height: 125px;
  position: relative;
}

.containerA {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* +++++++++++++++++++++++++++++++++++++++++++++ */

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.cardCol {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


/* ==============================END OF About US SETTINGS============================= */

/* ContactUs Page CSS */
* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.containerB {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* ====================END OF CONTACT US SETTINGS========================== */

/* Fixed Page Footer Set-up */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


p.companyInfo {
  color: navy;
  text-align: center;
  font-size: 18px;
}

/*--------------------------------------------------------------------------------------*/
