/* 
    * Author(s): Kiowa Alumno, Troy Peterson, Jo Lee White
    * Creation Date: 01/16/2019
    * Date: 01/18/2019; 01/21/2019; 01/22/2019; 01/23/2019
    *       01/27/2019
    * Description: Stylesheet contains that the import information for all the Google Fonts to add 
    * fonts to the web pages.
*/

/* HTML and Body styles */
body, html
{
  height: 100%;
  margin: 0;
}

/*  */
.err-image
{
  background-image: url('/images/283331-P6EPD6-923.jpg');
  background-size: 100%;
  background-position: right; 
  background-repeat: no-repeat; 
  height: 100%; 
  /* 500px; */
  width: 100%;
  /* 55%; */
  border-radius: 50%;
  margin-left: left; 
  margin-right: right;
}

/*  */
a 
{
  color: black;
}

/* styles for the product page */
.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

/*  */
.footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
   
}

/*  */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext 
{
  visibility: visible;
}

/* Product Page Image settings */
.smallGad
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* background: transparent; */
/* note to self try ot add spin on hover . . .  */

}
.medGad
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.lrgGad
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* adds a Drop Letter to the first letter 
of each of the About Us Page paragraphs. */
.about::first-letter
{
  float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}

.bdy-image {
  /* The image used */
  background-image: url("/images/foodm_05_edited.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bdy-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-family: 'Sofia';
  font-size: 34px; 
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* NavBar styles -- Horizontal*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/* ContactUs Page CSS setup */
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}